In [10]:
import pandas as pd

In [11]:
# Load the dataset
hr_data = pd.read_csv('HR Data.csv')

In [12]:
print(hr_data.head())

   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [13]:
print(hr_data.columns)

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [14]:
# Checking for null values
print(hr_data.isnull().sum())

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [15]:
# Data Cleansing
# Remove unnecessary columns
unnecessary_columns = ['EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours']
hr_data.drop(columns=unnecessary_columns, inplace=True)

In [17]:
# Rename columns
new_column_names = {'Age': 'age',
                    'Attrition': 'attrition',
                    'BusinessTravel': 'business_travel',
                    'DailyRate': 'daily_rate',
                    'Department': 'department',
                    'DistanceFromHome': 'distance_from_home',
                    'Education': 'education',
                    'EducationField': 'education_field',
                    'EnvironmentSatisfaction': 'environment_satisfaction',
                    'Gender': 'gender',
                    'HourlyRate': 'hourly_rate',
                    'JobInvolvement': 'job_involvement',
                    'JobLevel': 'job_level',
                    'JobRole': 'job_role',
                    'JobSatisfaction': 'job_satisfaction',
                    'MaritalStatus': 'marital_status',
                    'MonthlyIncome': 'monthly_income',
                    'MonthlyRate': 'monthly_rate',
                    'NumCompaniesWorked': 'num_companies_worked',
                    'OverTime': 'over_time',
                    'PercentSalaryHike': 'percent_salary_hike',
                    'PerformanceRating': 'performance_rating',
                    'RelationshipSatisfaction': 'relationship_satisfaction',
                    'StockOptionLevel': 'stock_option_level',
                    'TotalWorkingYears': 'total_working_years',
                    'TrainingTimesLastYear': 'training_times_last_year',
                    'WorkLifeBalance': 'work_life_balance',
                    'YearsAtCompany': 'years_at_company',
                    'YearsInCurrentRole': 'years_in_current_role',
                    'YearsSinceLastPromotion': 'years_since_last_promotion',
                    'YearsWithCurrManager': 'years_with_curr_manager'}
hr_data.rename(columns=new_column_names, inplace=True)

In [18]:
# Eliminating Redundant Entries
hr_data.drop_duplicates(inplace=True)

In [19]:
hr_data.columns

Index(['age', 'attrition', 'business_travel', 'daily_rate', 'department',
       'distance_from_home', 'education', 'education_field',
       'environment_satisfaction', 'gender', 'hourly_rate', 'job_involvement',
       'job_level', 'job_role', 'job_satisfaction', 'marital_status',
       'monthly_income', 'monthly_rate', 'num_companies_worked', 'over_time',
       'percent_salary_hike', 'performance_rating',
       'relationship_satisfaction', 'stock_option_level',
       'total_working_years', 'training_times_last_year', 'work_life_balance',
       'years_at_company', 'years_in_current_role',
       'years_since_last_promotion', 'years_with_curr_manager'],
      dtype='object')

In [20]:
# Sanitizing Specific Columns
# Convert 'Department' names to lowercase and remove leading/trailing whitespaces
hr_data['department'] = hr_data['department'].str.lower().str.strip()

# Convert 'Gender' to uppercase
hr_data['gender'] = hr_data['gender'].str.upper()

# Save the cleaned dataset
hr_data.to_csv('cleaned_hr_data.csv', index=False)

# Check the cleaned dataset's columns
print(hr_data.columns)

Index(['age', 'attrition', 'business_travel', 'daily_rate', 'department',
       'distance_from_home', 'education', 'education_field',
       'environment_satisfaction', 'gender', 'hourly_rate', 'job_involvement',
       'job_level', 'job_role', 'job_satisfaction', 'marital_status',
       'monthly_income', 'monthly_rate', 'num_companies_worked', 'over_time',
       'percent_salary_hike', 'performance_rating',
       'relationship_satisfaction', 'stock_option_level',
       'total_working_years', 'training_times_last_year', 'work_life_balance',
       'years_at_company', 'years_in_current_role',
       'years_since_last_promotion', 'years_with_curr_manager'],
      dtype='object')

In [24]:
hr_data.head()

,age,attrition,business_travel,daily_rate,department,distance_from_home,education,education_field,environment_satisfaction,gender,...,performance_rating,relationship_satisfaction,stock_option_level,total_working_years,training_times_last_year,work_life_balance,years_at_company,years_in_current_role,years_since_last_promotion,years_with_curr_manager
0,41,Yes,Travel_Rarely,1102,sales,1,2,Life Sciences,2,FEMALE,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,research & development,8,1,Life Sciences,3,MALE,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,research & development,2,2,Other,4,MALE,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,research & development,3,4,Life Sciences,4,FEMALE,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,research & development,2,1,Medical,1,MALE,...,3,4,1,6,3,3,2,2,2,2

In [27]:
# Check for NaN values
nan_values = hr_data.isna().any()
print(nan_values)

age                           False
attrition                     False
business_travel               False
daily_rate                    False
department                    False
distance_from_home            False
education                     False
education_field               False
environment_satisfaction      False
gender                        False
hourly_rate                   False
job_involvement               False
job_level                     False
job_role                      False
job_satisfaction              False
marital_status                False
monthly_income                False
monthly_rate                  False
num_companies_worked          False
over_time                     False
percent_salary_hike           False
performance_rating            False
relationship_satisfaction     False
stock_option_level            False
total_working_years           False
training_times_last_year      False
work_life_balance             False
years_at_company              False
years_in_current_role         False
years_since_last_promotion    False
years_with_curr_manager       False
dtype: bool